# Handle Categorical Features

### 2. Ordinal Number Encoding

In [1]:
import datetime
today_date=datetime.datetime.today()
today_date

datetime.datetime(2020, 7, 17, 21, 40, 28, 125191)

In [2]:
today_date-datetime.timedelta(3)

datetime.datetime(2020, 7, 14, 21, 40, 28, 125191)

In [3]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]
days

[datetime.datetime(2020, 7, 17, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 16, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 15, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 14, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 13, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 12, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 11, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 10, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 9, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 8, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 7, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 6, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 5, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 4, 21, 40, 28, 125191),
 datetime.datetime(2020, 7, 3, 21, 40, 28, 125191)]

In [4]:
import pandas as pd
data=pd.DataFrame(days)
data

                            0
0  2020-07-17 21:40:28.125191
1  2020-07-16 21:40:28.125191
2  2020-07-15 21:40:28.125191
3  2020-07-14 21:40:28.125191
4  2020-07-13 21:40:28.125191
5  2020-07-12 21:40:28.125191
6  2020-07-11 21:40:28.125191
7  2020-07-10 21:40:28.125191
8  2020-07-09 21:40:28.125191
9  2020-07-08 21:40:28.125191
10 2020-07-07 21:40:28.125191
11 2020-07-06 21:40:28.125191
12 2020-07-05 21:40:28.125191
13 2020-07-04 21:40:28.125191
14 2020-07-03 21:40:28.125191

In [5]:
data.columns=["Day"]

In [6]:
data

                          Day
0  2020-07-17 21:40:28.125191
1  2020-07-16 21:40:28.125191
2  2020-07-15 21:40:28.125191
3  2020-07-14 21:40:28.125191
4  2020-07-13 21:40:28.125191
5  2020-07-12 21:40:28.125191
6  2020-07-11 21:40:28.125191
7  2020-07-10 21:40:28.125191
8  2020-07-09 21:40:28.125191
9  2020-07-08 21:40:28.125191
10 2020-07-07 21:40:28.125191
11 2020-07-06 21:40:28.125191
12 2020-07-05 21:40:28.125191
13 2020-07-04 21:40:28.125191
14 2020-07-03 21:40:28.125191

In [11]:
data['Day'].dt.day

0     17
1     16
2     15
3     14
4     13
5     12
6     11
7     10
8      9
9      8
10     7
11     6
12     5
13     4
14     3
Name: Day, dtype: int64

In [15]:
data['Day'].dt.weekday

0     4
1     3
2     2
3     1
4     0
5     6
6     5
7     4
8     3
9     2
10    1
11    0
12    6
13    5
14    4
Name: Day, dtype: int64

In [17]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day    weekday
0 2020-07-17 21:40:28.125191     Friday
1 2020-07-16 21:40:28.125191   Thursday
2 2020-07-15 21:40:28.125191  Wednesday
3 2020-07-14 21:40:28.125191    Tuesday
4 2020-07-13 21:40:28.125191     Monday

In [18]:
dictionary={
    'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7   
}

In [19]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [20]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

In [21]:
data

                          Day    weekday  weekday_ordinal
0  2020-07-17 21:40:28.125191     Friday                5
1  2020-07-16 21:40:28.125191   Thursday                4
2  2020-07-15 21:40:28.125191  Wednesday                3
3  2020-07-14 21:40:28.125191    Tuesday                2
4  2020-07-13 21:40:28.125191     Monday                1
5  2020-07-12 21:40:28.125191     Sunday                7
6  2020-07-11 21:40:28.125191   Saturday                6
7  2020-07-10 21:40:28.125191     Friday                5
8  2020-07-09 21:40:28.125191   Thursday                4
9  2020-07-08 21:40:28.125191  Wednesday                3
10 2020-07-07 21:40:28.125191    Tuesday                2
11 2020-07-06 21:40:28.125191     Monday                1
12 2020-07-05 21:40:28.125191     Sunday                7
13 2020-07-04 21:40:28.125191   Saturday                6
14 2020-07-03 21:40:28.125191     Friday                5